  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.8rem;
}

h2 {
    margin-bottom: 40px;
}

h3 {
    margin-bottom: 30px;
}

p.a {
    font-weight: 100;
}
p.b {
    font-weight: 200;
}
p.c {
    font-weight: 300;
}
p.d {
    font-weight: 400;
}
p.e {
    font-weight: 500;
}
p.f {
    font-weight: 600;
}


/* Container */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 20px;
}

.grid-item {
    color: #f0efea;
    text-align: center;
}

/* Colors */

.primary {
    background-color: #0a6f74;
}

.secondary {
    background-color: #db5028;
}

.accent {
    background-color: #fbbc09;
}

.headings {
    background-color: #00586e;
}

.body {
    background-color: #2e282a;
}
